*{
    padding: 0;margin: 0;box-sizing: border-box;
}
main{
    background-color: #2d2d2d;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    >section{
        width: 60%;
        height: 60px;
        background-color: wheat;
        >input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            padding-left: 20px;
            font-size: 20px;
            color: #2d2d2d;
        }      
    }
    >div{
        margin-top: 30px;
        width:60%;
        color:white;       
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        >ul{
            width: 100%;
            list-style: none;
            >li{
                width: 100%;
                margin: 10px 0;
                /* text-transform: uppercase; */
                padding-left: 20px;
                display: none;

            }
        }
    }
}